* {list-style: none;}

.head, .content, .footer{ width: 1200px;
		
		}

.head {height: 80px;
	   background-color: #C40000;}



.text-logo {float: left;
			
			margin-top: 40px;
			color: white;
			font-size: 28px;
			}
.head-right {width: 900px;
			float: right;
			
			margin-top: 30px;
			position: relative;
			}

.head-right .nav {
				position: absolute;
				left: 500px;
				color: white;

				}
.head-right .nav ul li {float: left;
						padding-left: 28px;}

.head-right .img-logo {float: right;
						
						margin-top: 14px;
						margin-right: 10px;}
.text-logo{margin-left: 110px;}


.content {height: 1525px;}
.content-top, .content-middle, .content-bottom {
			height: 508px;
			border:1px solid black ;
}
.content-top { width: 1200px;
				height: 508px; 
				background: url(content-top.png);
				}
.content-top .text {width: 300px;
					height: 140px;
					
					margin-left: 790px;
					margin-top: 368px;
					color: black;
				}
.content-top .text h5 {margin: 12px 0px 12px 250px;
						}
.content-top .text p {font-size: 12px;
					margin-bottom: 30px;
					text-indent: 25px;
						}

.content-middle{background-color: #F0F0F0;}
.content-middle-one {width: 320px;
					height: 360px;
					
					background-color: white;
					float: left;
					margin-top: 10px;
					margin-bottom: 110px;}
.content-middle-one img {width: 300px;
						height: 180px;
						display: block;
						margin-top:10px;
						margin-left: 10px;}
#product-one {margin:10px 10px 0px 110px;}
#product-thr  {margin-left:10px; }
.product-des {width: 270px;
			 height: 180px;
			 
			 font-size: 12px;
			 margin-left: 25px;
			 text-indent: 10px;
			 
			}
.content-bottom {position: relative;}			
.content-bottom #p-des {width: 600px;
						height: 308px;
						border:1px solid black ;
						margin: 0 auto;
						margin-top: 100px;
						font-size: 14px;
						text-indent: 20px;
						display: block;
						}
.content-bottom #p-des h4 {font-size: 20px;
							margin-top: 50px;
						    margin-left: 190px;}
.content-bottom img {width: 160px;
					height: 160px;
					position: absolute;
					top: -30px;
					margin-left: 520px;}

.footer {height: 395px;
		background-color: #C40000;
		color: white;}

.footer-one, .footer-two, .footer-three{
					width: 1200px;
					
}

.footer-one {height: 30px;
			margin-left: 490px;
			line-height: 30px;
			border-bottom: 2px solid black;}
.footer-one ul {margin: 0px;}
.footer-one ul li {float: left;
					margin-left: 28px;
				  }


.footer-two {height: 300px}
.footer-two ul {float: left;
				margin: 0 auto;}
#L  {   width: 980px;
		height: 270px;
		border:1px solid red;
		margin: 0 auto;
		margin-top: 30px;
		}
#T  {margin-left: 250px; }

.footer-three {height: 65px;}
.gap {margin-top: 30px;}

.footer-three {height: 65px;
				font-size: 12px;
				margin-left: 500px;}
.footer-three p {margin:0px;
				padding-top: 3px;}
.footer-three img {margin-top:10px;}

