*{	margin: 0;
	padding: 0;
	background-color: yellow;
	}


#head			{width: auto;
				height: 450px;
				background-color: blue;}
#head_left      {width: 800px;
				height: 450px;
				background-color: red;
				float: left;}
#head_left img  {width: 800px;
				height: 450px;}

#head_right		{width: 576px;
				height: 450px;
				background-color: green;
				float: right;
				background-image: url(./flower.jpg);

				}

#head_right_1   {width: 500px;
				height: 100px;
				background-color: white;
				margin-left: 30px;
				line-height: 50px;
				font-size: 20px;
				color: #989398;
				border-bottom: 2px solid #F0AC23;
				text-indent: 10px;



				}

#head_right_2   {width: 500px;
				height: 80px;
				background-color: white;
				margin-left: 30px;
				margin-top: 20px;
				border: 2px solid #F0AC23;
				line-height: 80px;
				text-indent: 10px;
				color: #F0F0F0;
				}



#head_right_3   {width: 500px;
				height: 80px;
				background-color: white;
				margin-left: 30px;
				margin-top: 20px;
				border: 2px solid #F0AC23;
				line-height: 80px;
				text-indent: 10px;
				color: #F0F0F0;

				}
#head_right_4   {width: 500px;
				height: 80px;
				background-color: #F0AC23;
				margin-left: 30px;
				margin-top: 20px;
				line-height: 80px;
				text-align: center;
				font-size: 30px;
				color: white;

				}


#content        {width: auto;
		         height: 900px;
		        background-color: #D5D5E1;
		        border-bottom: 2px solid #F0AC23
		    	}

#content_left   {width: 800px;
				height: 700px;
				background-color:red;
				float: left;
				margin-left: 150px;
				margin-top: 20px;}

#content_left_top{width: 800px;
				height: 330px;
				background-color:white;}


#content_left_bottom{width: 800px;
				height: 330px;
				background-color:white;
				margin-top: 40px;}

#content_right   {width: 300px;
				height: 700px;
				background-color:blue;
			    float: left;
				margin-left: 30px;
				margin-top: 20px;}

#content_right_top{width: 300px;
				height: 330px;
				background-color:white;}


#content_right_bottom{width: 300px;
				height: 330px;
				background-color:white;
				margin-top: 40px;}


#bottom         {width: auto;
		        height: 180px;
		        background-color: black;}

#bottom_top		{width: 1000px;
		        height: 50px;
		        background-color: white;
		        margin-left: 150px;

		    	}


#bottom_bottom	{width: 1000px;
		        height: 50px;
		        background-color: white;
		        margin-top: 10px;
		        margin-left: 150px

		    }

