*{	margin: 0;
	padding: 0;
	background-color: yellow;
	}


#head			{width: auto;
				height: 450px;
				background-color: blue;}
#head_left      {width: 800px;
				height: 450px;
				background-color: red;
				float: left;}
#head_left img  {width: 800px;
				height: 450px;}

#head_right		{width: 570px;
				height: 450px;
				background-color: green;
				float: right;}


#content        {width: auto;
		         height: 900px;
		        background-color: gray;}


#bottom         {width: auto;
		        height: 180px;
		        background-color: green;}

